footer
  .container.text-center
    div © 2014 AIA Singapore, Cru Asia Ltd.
    div
      strong World Cup P2500+
      |  Project ·
      |  Contact
      a(href='mailto:victortoh@cru.org.sg')  zeppytoh
