extends layout

block content
  h1 Under Pressure: The World Cup Challenge
  p.lead
    | Use this document as a way to quickly start any new project.
  section.special
    p
      | Everyday from the Fourth of July, participate in the daily challenge. Depending on your score you rise up on the leaderboard. At the end of <strong>seven days</strong> the ultimate victor will emerge. Are you game for the World Cup Challenge?
      | Is this another paragraph or the same one?
  button.btn.btn-primary Sign up now.