extends layout

block content
  h1 Leading The Challenge...
  for user in usersList
     p(style='white-space:pre;')
        |#{user.email}:
        |quiz1 Score: #{user.records.quiz1.score}
        |quiz2 Score: #{user.records.quiz2.score}
